.monster{
    font-size:20px;
    font-family: Roboto;
}
.move{
    font-size:20px;
    font-family: Roboto;
    
}
.gnomik{
    display: block;
    margin: auto ;
    border: 25px solid #fafafa;
    border-top-width: 35px;
    border-bottom-width: 100px;
    -webkit-box-shadow: 3px 3px 6px 4px #888;
    -moz-box-shadow: 3px 3px 6px 4px #888;
    box-shadow: 3px 3px 6px 4px #888;
}
